<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>app</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header class="list-header">飲んだものたち</header>
    <main>
      <div class="list-container">
        <%
          var alcoholList = {};
          alcohols.map(function (i,j) {
            var sta = i["start"];
            if(typeof alcoholList[sta]=="undefined") alcoholList[sta]=[];
            alcoholList[sta].push(i);
          });
          var key = Object.keys(alcoholList);
        %>
        <div class="index-table-wrapper">
          <% 
            for(var i = 0; i < key.length; i++) { 
            var datestr = key[i];
            var date = new Date(datestr);
            date.setHours(date.getHours() + 9);
            var listName = 'name' + i;
          %>
            <div class="alcohol-list"  onclick="clickBtn('<%= i %>')">
              <div>
                <%= date.getMonth()%>月<%= date.getDate()%>日<%= date.getHours() %>時<%= date.getMinutes() %>分
              </div>
              <div class="plus" id="plus<%= i %>">+</div>
            </div>
            <div class="list-wrapper" id="list<%= i %>">
              <div class="table-head">
                <span class="id-column">ID</span>
                <span class="type-column">種類</span>
                <span class="ml-column">ml</span>
                <span class="value-column">価格</span>
                <span class="kcal-column">kcal</span>
              </div>
              <ul class="table-body">
                <%
                  var testSumMl = 0;
                  var testSumValue = 0;
                  var testSumKcal = 0;
                %>
                <% alcoholList[key[i]].forEach(function(test) { %>
                  <li>
                    <div class="item-data">
                      <span class="id-column"><%= test.id %></span>
                      <span class="type-column"><%= test.type %></span>
                      <span class="ml-column"><%= test.ml %></span>
                      <span class="value-column"><%= test.value %></span>
                      <span class="kcal-column"><%= test.kcal %></span>
                      <%
                        testSumMl += test.ml;
                        testSumValue += test.value;
                        testSumKcal += test.kcal;
                      %>
                    </div>
                    <div class="item-menu">
                      <form action="/deleteIndex/<%= test.id %>" method="post">
                        <input type="submit" value="削除">
                      </form>
                    </div>
                  </li>
                <% }); %>
                <li class="gokei">
                  <div><p>総飲酒量<p class="petit"><%= testSumMl %>ml</p></p></div>
                  <div><p>総額<p class="petit"><%= testSumValue %>円</p></p></div>
                  <div><p>総カロリー<p class="petit"><%= testSumKcal %>kcal</p></p></div>
                </li>
              </ul>
            </div>
          <% } %>
        </div>
      </div>
      <a href="/" class="button return">もどる</a>
    </main>
    
    <script src="../scripts/script.js"></script>
  </body>
</html>