<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>app</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <div class="container">
        <%
        var group = alcohols.reduce(function (result, current) {
          var element = result.filter(function (p) {
           return p.start === current.start
          });
         if (element) {
           element.count ++;
           element.value += current.value;
         } else {
          result.push({
           start: current.start,
           count: 1,
           value: current.value
         });
         }
          return result;
         }, []);
         console.log(group);
        %>
        <div class="index-table-wrapper">
          <div class="table-head">
            <span class="id-column">ID</span>
            <span class="type-column">種類</span>
            <span class="ml-column">ml</span>
            <span class="value-column">価格</span>
            <span class="kcal-column">kcal</span>
          </div>
          <ul class="table-body">
            <% alcohols.forEach(function(alcohol) { %>
              <li>
                <div class="item-data">
                  <span class="id-column"><%= alcohol.id %></span>
                  <span class="type-column"><%= alcohol.type %></span>
                  <span class="ml-column"><%= alcohol.ml %></span>
                  <span class="value-column"><%= alcohol.value %></span>
                  <span class="kcal-column"><%= alcohol.kcal %></span>
                </div>
                <div class="item-menu">
                  <form action="/delete/<%= alcohol.id %>" method="post">
                    <input type="submit" value="削除">
                  </form>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
      
      </div>

      <a href="/" class="button">もどる</a>
    </main>
  </body>
</html>