<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>app</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header class="list-header">飲んだものリスト</header>
    <main>
      <div class="list-container">
        <%
          var alcoholList = {};
          alcohols.map(function (i,j) {
            var sta = i["start"];
            if(typeof alcoholList[sta]=="undefined") alcoholList[sta]=[];
            alcoholList[sta].push(i);
          });
          var key = Object.keys(alcoholList);
          console.log(alcoholList[key[0]]);
        %>
        <div class="index-table-wrapper">
          <% for(var i = 0; i < key.length; i++) { 
              var datestr = key[i];
              var date = new Date(datestr);
          %>
            <div class="alcohol-list">
              <div>
                <%= date.getMonth()%>月<%= date.getDate()%>日<%= date.getHours() %>時<%= date.getMinutes() %>分
              </div>
              <div class="plus">+</div>
              
            </div>
            <div class="table-head">
              <span class="id-column">ID</span>
              <span class="type-column">種類</span>
              <span class="ml-column">ml</span>
              <span class="value-column">価格</span>
              <span class="kcal-column">kcal</span>
            </div>
          <ul class="table-body">
            <% alcoholList[key[i]].forEach(function(test) { %>
              <li>
                <div class="item-data">
                  <span class="id-column"><%= test.id %></span>
                  <span class="type-column"><%= test.type %></span>
                  <span class="ml-column"><%= test.ml %></span>
                  <span class="value-column"><%= test.value %></span>
                  <span class="kcal-column"><%= test.kcal %></span>
                </div>
                <div class="item-menu">
                  <form action="/deleteIndex/<%= test.id %>" method="post">
                    <input type="submit" value="削除">
                  </form>
                </div>
              </li>
            <% }); %>
          </ul>
          <% } %>
        </div>
      
      </div>

      <a href="/" class="button">もどる</a>
    </main>
  </body>
</html>