<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>app</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
  </head>
  <% 
    var ml = 0;
    var value = 0;
    var kcal = 0;
    var alcoholTime = 0;
    var alcoholg = 0;
    var alcoholism = 0;
    var displayId = 0;
    
    try {
      alcohols.forEach(function (alcohol) {
        alcoholg = alcohol.ml * (alcohol.percent / 100) * 0.8;
        var ti = alcoholg / (alcohol.weight / 10);
        alcoholTime = alcoholTime + ti;
        alcoholism += (alcohol.ml * alcohol.percent) / (833 * alcohol.weight);
        ml += alcohol.ml;
        value += alcohol.value;
        kcal += alcohol.kcal;
      });

      var summl = ml;
      var sumvalue = value;
      var sumkcal = kcal;
  
      var now = new Date().getTime();
      var firstAlcohol = new Date(alcohols[0].uptime);
      var ttest = (((now - firstAlcohol) / 1000) / 3600);
      alcoholTime = alcoholTime - ttest;
    } catch(e) {
      console.log(e.message);
    }
  %>
  <body class="<% if (alcoholism > 0.40) { %><%= 'dead' %><% } %>">
    <header class="top-head <% if (alcoholism > 0.40) { %><%= 'dead' %><% } %>">
      <a href="/setting" class="tosetting"><i class="fas fa-cog"></i></a>
      <div>
          <% try{ 
            var cheersTime = alcohols[0].start;
            cheersTime.setHours(cheersTime.getHours() + 9); 
          %>
          <span id="header-span">今回の飲酒記録</span>
          <p class="starttimedisplay">
            -<%= cheersTime.getDate() %>日
            <%= cheersTime.getHours() %>時
            <%= cheersTime.getMinutes() %>分 CHEERS-
          <% }  catch(e) { %>
            <span id="header-span" class="headspa-height">今回の飲酒記録</span>
          <% } %>
        </p>
      </div>
      
      <a href="/register" class="add">追加 +</a>
    </header>

    <section class="main1">
      <div class="content"> 
        <div>
          <p id="change1">総飲酒量<p><span class="big <% if (alcoholism > 0.40) { %><%= 'dead-color' %><% } %>"><%= summl %></span> ml</p></p>
        </div>
        <div>
          <p id="change2">総額<p><span class="big <% if (alcoholism > 0.40) { %><%= 'dead-color' %><% } %>"><%= sumvalue %></span> 円</p></p>
        </div>
        <div>
          <p id="change3">総カロリー量<p><span class="big <% if (alcoholism > 0.40) { %><%= 'dead-color' %><% } %>"><%= sumkcal %></span> kcal</p></p>
        </div>
      </div>
      <div class="img">
        <% if (alcoholism === 0) { %>
          <p>しらふ</p>
          <img src="../images/sirahu.jpg">
        <% }else if (alcoholism < 0.11) { %>
          <p>ほろ酔い期</p>
          <img src="../images/horoyoi.jpg">
        <% }else if (alcoholism < 0.16) { %>
          <p>酩酊初期</p>
          <img src="../images/meitei.png">
        <% } else if (alcoholism < 0.31) { %>
          <p>酩酊期</p>
          <img src="../images/deisui.jpg">
        <% } else if (alcoholism < 0.41) { %>
          <p>泥酔期</p>
          <img src="../images/deisuisui.jpg">
        <% } else { %>
          <p>昏睡期</p>
          <img src="../images/black.png">
        <% } %>
      </div>
    </section>

    <section class="main2">
      <p class="main2p"><span id="change4">アルコールが抜けるまで…約</span>
        <span class="timebig big <% if (alcoholism > 0.40) { %><%= 'dead-color' %><% } %>"><% alcoholTime = Math.round(alcoholTime * 100) / 100 %><%= alcoholTime %>
        </span><span id="change5">時間</span>
      </p>
      <% try {
          firstAlcohol.setHours(firstAlcohol.getHours() + 9); %>
        <p>
        （<%= firstAlcohol.getDate() %>日<%= firstAlcohol.getHours() %>時<%= firstAlcohol.getMinutes() %>分から計算)
        </p>
      <% } catch(e) { } %>
    </section>
    <section>
      <div class="container">
        <div class="index-table-wrapper">
          <div class="table-head <% if (alcoholism > 0.40) { %><%= 'dead-red' %><% } %>">
            <span class="id-column">ID</span>
            <span class="type-column">種類</span>
            <span class="ml-column">ml</span>
            <span class="value-column">価格</span>
            <span class="kcal-column">kcal</span>
          </div>
          <ul class="table-body">
            <% 
              alcohols.forEach(function(alcohol) { 
              displayId++; 
            %>
              <li  class="bgc <% if (alcoholism > 0.40) { %><%= 'dead' %><% } %>">
                <div class="item-data">
                  <span class="id-column"><%= displayId %></span>
                  <span class="type-column"><%= alcohol.type %></span>
                  <span class="ml-column"><%= alcohol.ml %></span>
                  <span class="value-column"><%= alcohol.value %></span>
                  <span class="kcal-column"><%= alcohol.kcal %></span>
                </div>
                <div class="item-menu">
                  <form action="/delete/<%= alcohol.id %>" method="post">
                    <input type="submit" value="削除">
                  </form>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </section>
    
    <ul class="explanation">
      <li id="change6">※一時間に分解できるアルコール量は<span>(体重（kg）x 0.1)</span>、分解にかかる時間は<span>(摂取した純アルコール量(g)/ 一時間に分解できるアルコール量)</span>で計算しています。</li>
      <li id="change7">※酔いの状態を計るためのアルコール血中濃度は<span>(アルコール度数(%)x 容量(ml)/ (体重(kg)x 833))</span>で計算しています。</li>
    </ul>
    <div class="top-form">
      <form action="/timeend" method="post"><input type="submit" class="button register-button oaiso <% if (alcoholism > 0.40) { %><%= 'dead-button' %><% } %>" value="解散" id="change8"></form>
      <form action="/" method="get"><input type="submit" class="button register-button to-top <% if (alcoholism > 0.40) { %><%= 'dead-button' %><% } %>" value="TOP"></form>
    </div>
    <footer>
      <form name="form3" class="wordcheck">
        <input type="checkbox" name="wordsetting" onchange="wordSetting()">English
      </form>
    </footer>
    <script src="../scripts/script.js"></script>
  </body>
</html>